<div>
    <h2>Test Plans</h2>
    <a nz-button routerLink="/dashboard/create">Create Test Plan</a>
</div>

<nz-table #table [nzData]="plans" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Descriptions</th>
            <th>Test Cases</th>
            <th>Last Run</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (plan of table.data; track plan) {
            <tr>
                <td>
                    <a [routerLink]="'/dashboard/view/' + plan._id">{{plan.name}}</a>
                </td>
                <td>{{plan.description}}</td>
                <td>{{ plan.numberOfTestCases }}</td>
                <td>
                @if (plan.currentTestRun) {
                    <a [routerLink]="'/dashboard/run/' + plan._id + '/' + plan.currentTestRun._id">
                        Test started at {{ plan.currentTestRun.createdAt | date: 'dd MMM, yyyy H:MM' }}
                    </a>
                } @else if (plan.lastTestRun) {
                    <a [routerLink]="'/dashboard/run/result/' + plan.lastTestRun._id">Last Test Result</a>
                }
                </td>
                <td>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                      <nz-icon nzType="more" nzTheme="outline"></nz-icon>
                    </a>
                    <nz-dropdown-menu #menu>
                        <ul nz-menu>
                            <li nz-menu-item [routerLink]="'/dashboard/start/' + plan._id">
                                Start Test
                            </li>
                            <li nz-menu-item [routerLink]="'/dashboard/view/' + plan._id">
                                View
                            </li>
                            <li nz-menu-item [routerLink]="'/dashboard/edit/' + plan._id">
                                Edit
                            </li>
                            <li nz-menu-item [routerLink]="'/dashboard/run/history/' + plan._id">
                                Test Run History
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        }
    </tbody>
</nz-table>