<nz-layout class="top-level-layout">
  <nz-sider>
    <div style="height: 64px; padding-left: 15px; display: flex; align-items: center;">
      <a routerLink="/dashboard">Hammertests</a>
    </div>

    <app-change-workspace></app-change-workspace>

    <ul nz-menu nzMode="inline" nzTheme="dark" class="mt-2">
      <li nz-menu-item routerLink="/dashboard">
        <fa-icon [icon]="faGauge"></fa-icon>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/todo">
        <fa-icon [icon]="faListCheck"></fa-icon>
        <span>Personal To-Do</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/calendar">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span>Calendar</span>
      </li>

      <li nz-submenu nzIcon="tool" nzTitle="Project Management">
        <ul>
          <li nz-menu-item routerLink="/dashboard/pm/tasks">
            <fa-icon [icon]="faBarsProgress"></fa-icon>
            <span>Tasks</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/pm/backlog">
            <fa-icon [icon]="faClipboardList"></fa-icon>
            <span>Backlog</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/pm/milestones">
            <fa-icon [icon]="faBullseye"></fa-icon>
            <span>Milestones</span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzIcon="tool" nzTitle="Test Management">
        <ul>
          <li nz-menu-item routerLink="/dashboard/plans">
            <fa-icon [icon]="faClipboardList"></fa-icon>
            <span>Test Plan</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/run/history">
            <fa-icon [icon]="faSquarePollHorizontal"></fa-icon>
            <span>Test Run History</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/issues">
            <fa-icon [icon]="faBug"></fa-icon>
            <span>Issues</span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzIcon="tool" nzTitle="API">
        <ul>
          <li nz-menu-item routerLink="/dashboard/api/docs">API Documentation</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-navbar></app-navbar>
    </nz-header>

    <nz-content style="padding: 20px;">
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>