<nz-list [nzHeader]="''">
    @for (edgeCase of $any(edgeCases.controls); track edgeCase; let i = $index) {
        @if (edgeCase.get('edit')?.value) {
            <div>
                <nz-form-item style="display: grid; grid-template-columns: 46px 1fr;">
                    <label>If:</label>
                    <textarea nz-input rows="2" [formControl]="edgeCase.get('title')" placeholder="If email is valid but password is wrong"></textarea>
                </nz-form-item>
                <nz-form-item style="display: grid; grid-template-columns: 46px 1fr;">
                    <label>Then:</label>
                    <textarea nz-input rows="2" [formControl]="edgeCase.get('expectation')" placeholder="show error"></textarea>
                </nz-form-item>
            </div>
            <div class="mt-5 flex justify-end gap-10">
                @if (existsInClipboard()) {
                    <button nz-button nzType="default" (click)="pasteFromClipboard(i)">Paste</button>
                }
                <button nz-button nzType="primary" (click)="saveEdgeCase(i)" [disabled]="!edgeCase.valid">Save</button>
            </div>
        } @else {
            <nz-list-item style="display: grid; grid-template-columns: 20px 1fr 40px; column-gap: 20px;" (click)="makeEditable(i)">
                <span style="font-size: 21px;">🔨</span>
                <div class="source-code-pro">
                    <div><b><i>{{edgeCase.get('title').value}}</i></b></div>
                    <div>{{edgeCase.get('expectation').value}}</div>
                </div>

                <div class="flex gap-10">
                    <button nz-button nzType="link" (click)="copyToClipboard(i); $event.stopPropagation()">
                        <nz-icon nzType="copy"></nz-icon>
                    </button>
                    <button nz-button nzType="link" (click)="deleteNewEdgeCase(i); $event.stopPropagation()">
                        <nz-icon nzType="delete"></nz-icon>
                    </button>
                </div>
            </nz-list-item>
        }

        <nz-divider></nz-divider>
    }
</nz-list>

<button nz-button nzType="dashed" (click)="addNewEdgeCaseInput()" nzBlock>🔨 Add Edge Case</button>
