<nz-layout style="min-height: 100vh;">
  <nz-sider>
    <div style="height: 64px; padding-left: 15px; display: flex; align-items: center;">
      <a routerLink="/dashboard">Hammertests</a>
    </div>
    
    <ul nz-menu nzTheme="dark">
      <li nz-menu-item routerLink="/dashboard">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/plans">
        <i nz-icon nzType="tool"></i>
        <span>Test Plan</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/run/history">
        <i nz-icon nzType="history"></i>
        <span>Test Run History</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/issues">
        <i nz-icon nzType="bug"></i>
        <span>Issues</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-navbar></app-navbar>
    </nz-header>

    <nz-content style="padding: 20px;">
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
