@if (ready) {
<div>
    @if (plan) {
    <h2>Edit Test Plan</h2>
    } @else {
    <h2>Create Test Plan</h2>
    }

    <nz-card class="mt-20">
    <div>
        Name:<br />
        <input nz-input [formControl]="$any(formGroup.get('name'))" style="width: 100%" />
    </div>

    <div class="mt-20">
        Description:<br />
        <textarea nz-input [formControl]="$any(formGroup.get('description'))" style="width: 100%"></textarea>
    </div>

    <div class="mt-20">
        Environments:<br />
        <div>
          @for (environment of $any(formGroup.get('environments'))?.controls; track environment) {
          <div style="display: flex; gap: 10px; margin-bottom: 10px;">
            <input nz-input type="text" style="width: 160px;" [formControl]="environment.get('name')" placeholder="Local" />
            <input nz-input type="text" style="flex: 1;" [formControl]="environment.get('url')" placeholder="http://localhost:4200" />
          </div>
          }
          <button nz-button (click)="addEnvironment()">Add Environment</button>
        </div>
    </div>

    <div class="mt-20">
        Features:<br />

        <nz-input-group [nzSuffix]="suffixIconSearch" class="mt-5">
            <input type="text" nz-input nzBlock placeholder="Filter features here..." [(ngModel)]="searchText" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <nz-icon nzType="search" />
        </ng-template>

        <nz-collapse [nzBordered]="false" class="mt-10">
            @for (feature of getSortedFeatures(); track feature; let featureIndex = $index) {
                <nz-collapse-panel [nzHeader]="templateHeader">
                    <ng-template #templateHeader>
                        <div style="display: flex; gap: 10px;">
                            <div style="flex: 1; font-weight: 600;">{{ $any(feature.get('name')).value }}</div>

                            <button nz-button (click)="moveFeatureUp(featureIndex); $event.stopPropagation();">
                                <i nz-icon nzType="up"></i>
                            </button>
                            <button nz-button (click)="moveFeatureDown(featureIndex); $event.stopPropagation();">
                                <i nz-icon nzType="down"></i>
                            </button>
                            <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this?" (nzOnConfirm)="deleteFeatureAt($any(formGroup.get('features')), featureIndex)">
                                <i nz-icon nzType="delete"></i>
                            </button>
                        </div>
                    </ng-template>

                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <input nz-input [formControl]="$any(feature.get('name'))" style="width: 440px;" placeholder="Login" />
                        <input nz-input [formControl]="$any(feature.get('url'))" style="width: 440px;" placeholder="/login" />
                    </div>
                    
                    <div class="mt-10">
                        <b>Test Cases</b> ({{ $any(feature.get('testCases')).controls.length }})
                    </div>

                    <nz-collapse nzAccordion class="mt-10">
                        @for (testCase of getSortedTestCases(feature); track testCase; let i = $index) {
                        <ng-template #templateHeader>
                            <button nz-button (click)="moveUp(feature, i); $event.stopPropagation();">
                                <i nz-icon nzType="up"></i>
                            </button>
                            <button nz-button (click)="moveDown(feature, i); $event.stopPropagation();">
                                <i nz-icon nzType="down"></i>
                            </button>
                            <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this?"
                                (nzOnConfirm)="deleteTestCaseAt(feature, i)" (click)="$event.stopPropagation();">
                                <i nz-icon nzType="delete"></i>
                            </button>
                        </ng-template>
                        <nz-collapse-panel [nzHeader]="$any(testCase.get('name')).value" [nzExtra]="templateHeader">
                            <div style="display: flex; gap: 10px;" class="mt-10">
                                <div style="flex: 1;">
                                    <input nz-input [formControl]="$any(testCase.get('name'))" placeholder="Login with valid credentials" />
                                    <br />
                                    <textarea
                                        nz-input
                                        [formControl]="$any(testCase.get('description'))"
                                        style="margin-top: 5px; width: 100%;"
                                        placeholder="Describe the test case..."
                                    ></textarea>

                                    <!-- Steps to test -->
                                    <div class="mt-20">
                                        <b>Steps to test</b>
                                        <app-steps-form [formControl]="$any(testCase.get('stepsToTest'))"></app-steps-form>
                                    </div>

                                    <!-- Edge cases -->
                                    <div class="mt-20">
                                        <b>Edge Cases</b>
                                        <app-edge-case-form [formControl]="$any(testCase.get('edgeCases'))"></app-edge-case-form>
                                    </div>
                                </div>
                            </div>
                        </nz-collapse-panel>
                        }
                    </nz-collapse>
                    <div class="mt-20">
                        <button nz-button (click)="addTestCase($any(feature.get('testCases')))" nzType="link" nzBlock>
                            <nz-icon nzType="plus-circle"></nz-icon>
                            Add New Test Case
                        </button>
                    </div>
                </nz-collapse-panel>
            }
        </nz-collapse>
    </div>

    <div class="mt-40">
        <button nz-button style="width: 100%;" (click)="addToFeatures()">ADD FEATURE/MODULE</button>
    </div>

    <div class="flex gap-10 mt-40" style="flex-direction: row; justify-content: flex-end;">
        <button nz-button>Cancel</button>
        <button nz-button (click)="save()" nzType="primary">Submit</button>
    </div>
</nz-card>
</div>
}

@if (!ready && readyError) {
    <h1>Page failed to load</h1>
}
