<h2>Test Run History</h2>

<nz-table #table [nzData]="results" class="mt-20">
    <thead>
        <tr>
            <th>ID</th>
            <th *ngIf="!planId">Test Plan</th>
            <th>Duration</th>
            <th>Passed</th>
            <th>Passed with Warnings</th>
            <th>Failed</th>
            <th>Blocked</th>
            <th>Needs a Retest</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @for (row of table.data; track row) {
        <tr>
            <td>{{ row.code }}</td>
            <td *ngIf="!planId" style="vertical-align: top;">
                <a [routerLink]="'/dashboard/run/result/' + row._id">
                {{ row.plan.name }}
                </a>
            </td>
            <td>{{ getDuration(row) }}</td>
            <td>{{ row.stat.totalPassed }}</td>
            <td>{{ row.stat.totalPassedWithWarnings }}</td>
            <td>{{ row.stat.totalFailed }}</td>
            <td>{{ row.stat.totalBlocked }}</td>
            <td>{{ row.stat.totalNeedsARetest }}</td>
            <td>{{ row.createdAt | date: 'dd MMM, yyyy H:MM' }}</td>
        </tr>
        }
    </tbody>
</nz-table>