<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="onClose()" nzTitle="Create Issue for Edge Case" nzOkText="Create Issue" (nzOnOk)="createIssue()">
    <ng-container *nzModalContent>
      <div>
        <b>Edge Case:</b> {{ edgeCase?.title }}
        <div style="margin-top: 10px;">
          <b>Expected Result:</b> {{ edgeCase?.expectation }}
        </div>
      </div>

      <form nz-form [formGroup]="issueForm" nzLayout="vertical" class="mt-20">
        <nz-form-item>
          <nz-form-label>Title</nz-form-label>
          <input nz-input type="text" formControlName="title" />
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <textarea nz-input rows="2" formControlName="description"></textarea>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Images</nz-form-label>
          <nz-form-control>
            <nz-upload
              nzListType="picture-card"
              [nzFileList]="attachments || []"
            >
              <i nz-icon nzType="plus"></i>
            </nz-upload>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Steps to Reproduce</nz-form-label>
          <app-steps-form formControlName="stepsToReproduce"></app-steps-form>
        </nz-form-item>
      </form>
    </ng-container>
</nz-modal>