:host {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;

    .a {
        grid-column: 1;
    }

    .b {
        grid-column: 2;
    }

    .c {
        grid-column: 3 / span 2;
    }

    .d {
        grid-column: 1 / span 2;
    }

    .e {
        grid-column: 3 / span 2;
    }
}
